<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GuestMapper">
    <insert id="addGuest">
        insert into GUEST values (GUEST_SEQ.nextval,#{name},#{password},#{applicationstatus})
    </insert>
    <update id="updateGuest">
        update GUEST set G_NAME=#{password} where G_ID=#{g_id}
    </update>
    <select id="AllGuest" resultType="com.model.Guest">
        select * from GUEST
    </select>

    <select id="selectGuestbyname" resultMap="getGuest">
         select * from GUEST where G_NAME=#{name}
    </select>
    <select id="selectGuest" resultMap="getGuest">
            select * from GUEST where G_NAME=#{name} and G_PASSWORD=#{password}
    </select>
    <select id="selectGuestById" resultType="com.model.Guest">
            select * from GUEST where G_ID=#{g_id}
    </select>
    <resultMap id="getGuest" type="com.model.Guest">
            <id property="g_id" column="G_ID"/>
            <result property="name" column="G_NAME"/>
            <result property="password" column="G_PASSWORD"/>
            <result property="applicationstatus" column="G_APPLICATIONSTATUS"/>

    </resultMap>

</mapper>
