<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GuestMapper">
    <insert id="addGuest">
        insert into GUEST values (GUEST_SEQ.nextval,#{name},#{password},#{applicationstatus})
    </insert>
    <select id="AllGuest" resultType="com.model.Guest">
        select * from GUEST
    </select>
    <select id="selectGuest" resultType="com.model.Guest">
        select * from GUEST where NAME=#{name} and password=#{password}
    </select>
    <select id="selectGuestbyname" resultType="com.model.Guest">
         select * from GUEST where NAME=#{name}
    </select>
</mapper>
