<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.JobMapper">
    <insert id="addjob">
        insert INTO JOB VALUES (JOB_SEQ.nextval,#{department.id},#{name},#{createtime})
    </insert>
    <update id="updatejob">
        UPDATE JOB SET J_NAME=#{name} where J_ID=#{id}
    </update>
    <delete id="deletejob">
        DELETE form JOB where J_ID=#{id}
    </delete>
    <select id="Alljob" resultMap="getJob">
        SELECT * from JOB
    </select>
    <select id="selectJob" resultMap="getJob">
        SELECT * from where J_NAME=#{name}
    </select>
    <resultMap id="getJob" type="com.model.Job">
        <id property="id" column="J_ID"/>
        <result property="department" column="J_DID"/>
        <result property="name" column="J_NAME"/>
        <result property="createtime" column="J_CREATETIME"/>

    </resultMap>
</mapper>