<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.RecruitmentMapper">
    <insert id="addRecruitment">
        insert into RECRUITMENT values(RECRUIT_SEQ.nextval,#{dempartment.id},#{jod.id},#{peopleneeded},#{requirement},#{money},#{workplace})
    </insert>
    <update id="updateRecruitment">
        update RECRUITMENT
        <set>
            <if test="null!=peopleneeded and''!=peopleneeded">
                RM_PEOPLENEEDED=#{peopleneeded},
            </if>
            <if test="null!=requirement and''!=requirement">
                RM_REQUIREMENT=#{requirement},
            </if>
            <if test="null!=money and''!=money">
                RM_MONEY=#{money},
            </if>
            <if test="null!=workplace and ''!=workplace">
                RM_WORKPLACE=#{workplace}
            </if>
        </set>
        where RM_ID=#{id}
    </update>

    <delete id="deleteRecruitment">
        DELETE from RECRUITMENT where RM_ID=#{id};
    </delete>
    <select id="selectRecruitByDJ" resultType="com.model.Recruitment">
       select * from RECRUITMENT where RM_DID=#{dempartment.id} and RM_JID=#{jod.id}
    </select>
    <select id="AllRecruitment" resultType="com.model.Recruitment">
        SELECT * from RECRUITMENT
    </select>
</mapper>