<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ResumeMapper">
    <insert id="addResume">
        insert into Resume VALUES (RESUME_SEQ.nextval,#{guest.id},#{name},#{age},#{ethnicity},#{phone},
        #{height},#{weight},#{marrige},#{address},#{school},#{selfassessment},#{intership},#{award})
    </insert>
    <update id="updateResume">
        update RESUME
        <set>
            <if test="null!=name and''!=name">
                R_NAME=#{name},
            </if>
            <if test="null!=age and''!=age">
                R_AGE=#{age},
            </if>
            <if test="null!=ethnicity and''!=ethnicity">
                R_ETHNICITY=#{ethnicity},
            </if>
            <if test="null!=phone and ''!=phone">
                R_PHONE=#{phone}
            </if>
            <if test="null!=height and ''!=height">
                R_HEIGHT=#{height}
            </if>
            <if test="null!=weight and ''!=weight">
                R_WEIGHT=#{weight}
            </if>
            <if test="null!=marrige and ''!=marrige">
            R_MARRIGE=#{marrige}
            </if>
            <if test="null!=address and ''!=address">
                R_ADDRESS=#{address}
            </if>
            <if test="null!=school and ''!=school">
                R_SCHOOL=#{school}
            </if>
            <if test="null!=seifassessment and ''!=seifassessment">
                R_SEIFASSESSMENT=#{seifassessment}
            </if>
            <if test="null!=intership and ''!=intership">
                R_INTERSHIP=#{intership}
            </if>
            <if test="null!=award and ''!=award">
                R_AWARD=#{award}
            </if>

        </set>
        where R_ID=#{id}
    </update>
    <delete id="deleteResume">
        DELETE from RESUME where R_ID=#{id};
    </delete>
    <select id="AllResume" resultType="com.model.Resume">
        SELECT * from RESUME
    </select>
    <select id="MyResume" resultType="com.model.Resume">
        SELECT * from RESUME where R_GID=#{guest.id}
    </select>
</mapper>